
@font-face {
    font-family: GreatVibes-Regular;
    src: url(../fonts/GreatVibes-Regular.otf);
}

div {
    border-style: dotted;
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px;
    border-style: dotted !important;
    height: 100vh;
}

.header {
    height: 25px;
    background-color: pink;
    height: 10vh;
    text-align: center;
    font-family: GreatVibes-Regular;
}

.header h1 {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

.body {
    display: flex;
    flex-direction: row;
    min-height: 86vh;
    margin-left: 25px;
    margin-right: 25px;
}

.left-nav {
    min-width: 20%;
    background-color: blue;
}

.main-nav {
    background-color: gray;
    width: 100%;
}

.footer {
    height: 4vh;
    background-color: pink;
}